.flutter-plugins-dependencies
# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
generated_plugin_registrant.dart


# iOS 
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
Pods/
Podfile.lock
*.xcworkspace
DerivedData/

# Android 
android/.gradle/
android/app/build/
*.iml
.gradle/
local.properties

# Firebase 
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# env
.env
.env.*

# IDE 
.vscode/
.idea/
*.iml

# ETC
*.log
*.tmp
*.temp
*.swp
*.DS_Store
*.pdf
.png

# Web 
build/web/

# MacOS 
macos/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/

# Linux 
linux/Flutter/ephemeral/

/.history

backend/mydb.sql
frontend/windows/flutter/generated_plugins.cmake
frontend/windows/flutter/generated_plugins.cmake
image copy.png
image.png

# Debug
frontend/android/app/.cxx/Debug/